.presentacion {
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 100%),
    url("../../assets/europa.png");
  background-size: cover;
  background-position: center;

  background-repeat: no-repeat;
  width: 100%;

  text-align: center;

  padding-top: 90px;
  padding-bottom: 90px;
  max-width: -1px;
}

.presentacion span {
  font-size: 18px;
  font-family: "Calibre", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
}

.contact-list {
  justify-content: center;
  font-size: 18px;
}

.circle {
  border-radius: 76px;
}

#orbits {
  text-align: -webkit-center;
}

.orbit1 {
  position: relative;
  top: 105px;

  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: #00b6bf;
  animation: orbit2 15s linear infinite;
}

.orbit2 {
  position: relative;
  top: 95px;

  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-color: #a9a9a9;
  animation: orbit3 10s linear infinite;
}

.orbit3 {
  position: relative;
  top: 80px;

  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: #d100ff;
  animation: orbit 30s linear infinite;
}

@keyframes orbit {
  from {
    transform: translate(0%, -0%) rotate(0deg) translateX(75px);
  }
  to {
    transform: translate(-0%, -0%) rotate(360deg) translateX(75px);
  }
}

@keyframes orbit2 {
  from {
    transform: translate(0%, -0%) rotate(0deg) translateX(90px);
  }
  to {
    transform: translate(-0%, -0%) rotate(360deg) translateX(90px);
  }
}

@keyframes orbit3 {
  from {
    transform: translate(0%, -0%) rotate(0deg) translateX(83px);
  }
  to {
    transform: translate(-0%, -0%) rotate(360deg) translateX(83px);
  }
}
