.aboutme {
  padding-top: 100px;
}

h1 {
  padding-top: 40px;
  padding-left: 15px;
  color: #ccd6f6;
}

span {
  color: #ccd6f6;
  text-align: center;
}

.aboutme .numbered-heading {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  white-space: nowrap;
}

.aboutme .numbered-heading::after {
  content: "";
  display: block;
  position: relative;
  top: 2px;
  width: 100%;
  height: 1px;
  margin-left: 20px;
  background-color: #d100ff;
}

.aboutme ul {
  display: grid;
  grid-template-columns: repeat(3, minmax(140px, 200px));
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
  text-align: left;
}

.aboutme li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
}

.aboutme li::before {
  content: "▹";
  position: absolute;
  left: 0px;
  color: #d100ff;
}

.img-container {
  align-self: center !important;
  text-align: center !important;
  position: relative;
  top: 45px;
}

.img-container img {
  width: 90%;
  border-radius: 20px;
  margin-top: 30px;
  max-width: 630px;
}
